# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
out/

# React Native
ios/Pods/
android/.gradle/
android/app/build/
android/build/
*.keystore
!gradle/wrapper/gradle-wrapper.jar

# Expo
.expo/
.expo-shared/

# Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
